section{
    .dog{
        img{
            width: 70%;
        }
      form{
        margin-top: 45px;
      }
      button{
        margin-top: 20px;
      }
    }
    .cat{
        img{
            width: 70%;
        }
        form{
            margin-top: 45px;
          }
          button{
            margin-top: 20px;
          }
    }
    .bird{
        img{
            width: 74%;
        }
        button{
            margin-top: 20px;
          }
    }
}